body {
    background-color: rgb(46, 46, 46);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .arrowkeysCont{
    background-image: url(./arrows.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    width: 20vw;
    left: 0;
    margin: 20px;
    bottom: 0;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.399);
    border-radius: 10%;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    overflow: hidden;
    border-radius: 10%;
    background-color: rgb(236, 221, 216);
  }
  * {
    user-select: none;
    color: aliceblue;
    font-size: larger;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  #restart {
    border-radius: 30%;
    color: lightblue;
    background-color: rgba(128, 128, 128, 0.725);
    border: solid lightblue 5px;
    padding: 20px;
  }
  #gameOverSign {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(59, 47, 47, 0.277);
    backdrop-filter: blur(2px);
    display: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    display: none;
  }
  
  #score {
    position: absolute;
    bottom: 0px;
    height: 8vh;
    width: 100vw;
    font-size: 40px;
    text-align: center;
    color: rgb(207, 207, 207);
  }
  #bestScore{
    position: absolute;
    bottom: 50px;
    right: 5vw;
    height: 5vh;
    width: fit-content;
    font-size: 30px;
    text-align:center;
    color: rgb(207, 207, 207);
  }
  canvas {
    width: 50vw;
    height: 80vh;
  }
  
  @media (max-width: 500px) {
    .arrowkeysCont{
      display: none;
    }
    #score {
      top: 2vh;
      font-size: 7vw;
      height: fit-content;
      color: rgb(0, 0, 0);
    }
    body {
      overflow-y: hidden;
    }
    * {
      touch-action: none;
      overflow-y: hidden;
    }
    #wrapper {
      width: 100vw;
      border-radius: 0;
    }
  
    #scoreDisplay {
      top: 0;
      height: fit-content;
      padding-top: 2vh;
      font-size: 4vh;
    }
    #bestScore{
      top: 0;
      height: fit-content;
      padding-top: 0.1vh;
      font-size: 4vh;
      position: absolute;
      font-size: 3vh;
      width: 30%;
      right: none;
      left: 0px;
      bottom: none;
      color: rgb(0, 0, 0);
    }
  
    canvas {
      width: 100vw;
      height: 100vh;
    }
  }